html {
  font-size: 1em;
}

body {
  background: #000;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: rgb(199, 199, 199);
}

p {
  font-size: 1.125em;
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-family: 'Inknut Antiqua', serif;
  font-weight: inherit;
  line-height: 1.4;
  color: #fff;
}

h1 {
  margin-top: 0;
  font-size: 2.0025em;
}

h2 {
  font-size: 1.78em;
}

h3 {
  font-size: 1.5825em;
}

h4 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.25em;
  color: rgb(199, 199, 199);
}

small,
.font-small {
  font-size: 0.8em;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* Links */
a {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Blockquotes */
blockquote {
  color: #fff;
  font-family: 'Inknut Antiqua', serif;
  border-left: 4px solid #fff;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
}
blockquote > :last-child {
  margin-bottom: 15px;
}

/* Code */
pre,
code {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 3px;
  background-color: #111;
  color: #fff;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 20px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* Layout */
.header {
  width: 100%;
  height: 100px;
  position: relative;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns:
    [edge-start] minmax(1.25rem, 1fr) [content-start] repeat(
      12,
      minmax(1.25rem, 5.20833rem)
    )
    [content-end] minmax(1.25rem, 1fr) [edge-end];
  grid-column-gap: 0.75%;

  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px 20px; */
}

.section {
  grid-column: content-start / span 7;
  margin-top: 1em;
}

.list {
  grid-row-start: 2;
  grid-column: content-start / content-end;
}

.list-title {
  text-transform: uppercase;
}

.list-columns {
  column-count: 3;
  column-gap: 1em;
}

.list-columns .project::before {
  content: '+';
}

.list-columns .post::before {
  content: '–';
}

.list-columns .experiment::before {
  content: '>';
}

.post-header {
  padding-bottom: 50px;
}

.post-title {
  grid-column: content-start / 8;
  grid-row-start: 1;
  padding-top: 200px;
}

.post-title h1 {
  margin: 0;
}

.metadata {
  text-transform: uppercase;
}

.post-image {
  grid-column: 7 / edge-end;
  grid-row-start: 1;
}

.navigation {
  grid-column: edge-start / edge-end;
  margin: 15px 0;
}

.navigation-links {
  grid-column: content-start / content-end;
}

.logo {
  height: 70px;
  position: fixed;
}

.image-insert {
  grid-column: 1 / -1;
}

.image-insert img {
  width: 100%;
}

/* Miscellaneous */
canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.footer {
  margin-top: 5.20833rem;
  grid-column: content-start / content-end;
}
