<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>

  <body>
    <div class="header">
      <canvas class="header-canvas"> <p>Help!</p> </canvas> {% include
      navigation.html %}
    </div>

    <div class="container">
      <div class="section">
        <h1>{{ page.headline }}</h1>
        {{ content }}
      </div>

      <div class="list">
        <span class="list-title font-small">Recently updated</span>
        <ul class="list-columns">
          {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a
            ><span class="font-small"> - Date</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="/assets/canvas.js"></script>
  </body>
</html>
