<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/reset.css" />
    <link rel="stylesheet" href="/assets/style.css" />
  </head>

  <body>
    <div class="header">{% include navigation.html %}</div>
    <div class="container">
      <div class="section">
        <h1>{{ page.title }}</h1>
        <h4>{{ page.date }}</h4>
        <hr />
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
